<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 设置类的别名,根据包取别名,把包下面的所有类都按类名来取别名 -->
    <!--<typeAliases>
        &lt;!&ndash; <typeAlias alias="User" type="com.feng.work.entity.User"/> &ndash;&gt;
        &lt;!&ndash; 这用可以简化代码量 &ndash;&gt;
        <package name="com.feng.work"/>
    </typeAliases>-->

   <!-- <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="username" value="${jdbc.username}"/>
                <property name="url" value="${jdbc.url}" />
                <property name="driverClassName" value="${jdbc.driveClassName}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>-->

    <!-- -->
    <mappers>
       <!-- <mapper resource="mapper/userMapper.xml" />
        <mapper resource="mapper/scheduleMapper.xml" />-->
        <mapper resource="classpath:mapper/**" />
    </mappers>
</configuration>