<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 设置类的别名,根据包取别名,把包下面的所有类都按类名来取别名 -->
    <!--<typeAliases>
        &lt;!&ndash; <typeAlias alias="User" type="com.feng.work.entity.User"/> &ndash;&gt;
        &lt;!&ndash; 这用可以简化代码量 &ndash;&gt;
        <package name="com.feng.work"/>
    </typeAliases>-->

   <!-- <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="username" value="${jdbc.username}"/>
                <property name="url" value="${jdbc.url}" />
                <property name="driverClassName" value="${jdbc.driveClassName}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>-->
    <settings>
        <!-- logImpl可选的值有：SLF4J、LOG4J、LOG4J2、JDK_LOGGING、COMMONS_LOGGING、STDOUT_LOGGING、NO_LOGGING
        或者是实现了接口org.apache.ibatis.logging.Log的类的完全限定类名，
        并且这个类的构造函数需要是以一个字符串（String类型）为参数的。
        (可以参考org.apache.ibatis.logging.slf4j.Slf4jImpl.java的实现)-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- -->
    <!--<mappers>-->
        <!--&lt;!&ndash; 这边无法通配,只能一个个写,如果要通配使用与spring整合的扫描器去做这件事 &ndash;&gt;-->
        <!--<mapper resource="mapper/userMapper.xml" />-->
        <!--<mapper resource="mapper/scheduleMapper.xml" />-->
    <!--</mappers>-->
</configuration>